* { 
    margin: 0;
    padding: 0;
}
.w {
     width : 1100px;
     margin: auto; 
}
.clearfix::before,
.clearfix::after{
    content:"" ;
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

body {
    background-color: rgb(113,113,113);
    font-family: 'microsoft yahei', Arial, sans-serif;
    font-size: 16px;
    color: rgb(250, 246, 246);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(250, 246, 246);
}
/* 头部                                                     on */
.header {
    height: 21px;
    /* 注意此地方会层叠w里面的msrgin */
    margin: 35px auto;
}
/* logo部分 */
.logo {
    float: left;
    width: 185px; 
    height: 21px;
    margin-right: 150px;
}
/* 搜索模块 */
.search {
    float: left;
    width: 450px;
    height: 21px;
    margin-right: 50px;
}
.search input {
    float: left;
    width: 330px;
    height: 19px;
    border: 1px solid rgb(250, 246, 246);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #bfbfbf;
    font-size: 15px;
    padding-left: 30px;
}
.search button {
    float: left;
    width: 50px;
    height: 21px;
    border: 1px solid rgb(250, 246, 246);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    /* 按钮button默认有个边框，需要手动去掉 */
    border: 0;
}
.logon ul li {
    float: left;
    margin-bottom: 10px;
    font-size: 21px;
}
.logon ul li a {
     display: block;
    height: 21px;
    padding: 0 22px;
    line-height: 21px;
}
.logon ul li a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}
/* 头部                                                    off */
/* 导航栏                                                  开始 */

.nav ul li {
    float: left;
    margin-bottom: 10px;
}
.nav ul li a {
    display: block;
    height: 21px;
    padding: 0 30px;
    line-height: 21px;
}
.nav ul li a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}
.l1 {
    height: 21px;
    margin: 0 65px;
    font-weight: 700;
    color: rgba(250,246,246, 0.8);

 
}
/* 导航栏                                                结束 */


/* video                                              stsrt */
.vid {
    width: 960px;
    height: 544px;
    margin: auto;
}
/* video                                               end */


/*                          ad                             */
.ad{
    height: 516px;
}
/* banner                                             开始 */
.banner{
    height: 740px;
    background: url(images/banner6.jpg) no-repeat top center;
} 
.subnav{
    width: 460px;
    height: 740px;
    background-color: rgba(113,113,113,0.5);
}
.subnav ul li{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.subnav ul li a{
    font-size: 16px;
    color: rgb(250,246,246);
}
.subnav ul li a span{
    float: right;
}
.subnav ul li a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}
/* banner                                             结束 */ 

/* goods                                               on */
.goods-hd{
    width: 425px;
    margin: 40px auto 20px;
    font-weight: 400;
    font-family: "Microsoft Yahei";
    color: rgba(250,246,246,0.7);
}
.goods-bd{

    height: 200px;
    padding-left: 35px;
}
.goods-bd div{ 
    float: left;
    height: 200px;
    margin-right: 34px;
}
.goods-bd div p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(250,246,246,0.7);   
}
.goods-bd p{
    text-align: center;
}
.goods-bd div a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}
/* goods                                              off */

/* links                                             开始 */
.footer{
 padding-top: 40px;
 height: 350px;
 background-color: rgb(250,246,246);
 font-size: 10px;
 color: black;
}
.links {
    width: 1100px;
    margin: auto;
}
.links dl{
    float: left;
    width: 225px;
    margin: auto;
    padding-left: 50px;
}
.links dt{
    float: left;
    width: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.links  a{
    padding-left: 10px;
    font-size: 10px;
    color: #000;
}    
.links a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}