* { 
    margin: 0;
    padding: 0;
}
.w {
     width : 1100px;
     margin: 35px auto; 
}
.clearfix::before,
.clearfix::after {
    content:"" ;
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(250, 246, 246);
}
body {
    background-color: rgb(113,113,113);
    font-family: 'microsoft yahei', Arial, sans-serif;
    font-size: 14px;
    color: rgb(250, 246, 246);
}
.header {
	width: 185px; 
    height: 21px;
}
.registerarea {
	height: 800px;
	border: 1px solid #ccc;
	margin-top: 20px;

}
.registerarea h3 {
	height: 42px;
	border-bottom: 1px solid #ccc; 
	line-height: 42px;
	padding: 0 10px;
	font-weight: 400;
	font-size: 18px;
}
.login {
	float: right;
	font-size: 14px;

}
.login a{
    border-bottom: 2px solid pink;
    color: pink;
}
.reg_form{
	width: 800px;
	margin:50px auto 0;
}
.reg_form ul li {
	margin-bottom: 20px;
}
.reg_form ul li label {
	display: inline-block;
	width: 200px;
	text-align: right;
}
.reg_form ul li input {
	width: 242px;
	height: 37px;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.error {
	color: #c81523;
}
.error_icon,
.success_icon  {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url() no-repeat;
	margin-top: -2px;
}
.success {
	color: green;
}
.success_icon {
	background: url() no-repeat;
}
.safe {
	padding-left: 250px;
}
.safe em {
	padding: 0 12px;
}
.yowai {
	background-color: pink;
}
.futuu {
    background-color: pink;
}
.chuyoi {
    background-color: pink;
}
.btn {
	width: 200px;
	height: 34px;
	background-color: pink; 
	font-size: 14px;
	margin: 30px 0 0 300px;
}
.footer{
 padding-top: 40px;
 height: 350px;
 background-color: rgb(250,246,246);
 font-size: 10px;
 color: black;
}
.links {
    width: 1100px;
    margin: auto;
}
.links dl{
    float: left;
    width: 225px;
    margin: auto;
    padding-left: 50px;
}
.links dt{
    float: left;
    width: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.links  a{
    padding-left: 10px;
    font-size: 10px;
    color: #000;
}    
.links a:hover{
    border-bottom: 2px solid pink;
    color: pink;
}


